/*––––––––––––––––––––––––––––––
GLOBALS
–––––––––––––––––––––––––––––––*/
body
{
	background-color: #E4E4E4;
	font-family: "fira-mono", monospace;
	color: #030303;
	text-rendering: optimizeLegibility !important;
	   -webkit-font-smoothing: antialiased !important;
	transition: all .1s ease-out;
		-webkit-transition: all .1s ease-out;			   
}

body a,
body a:hover,
body a:active,
body a:visited
{
	text-decoration: none !important;
}

nav, h1, h2, h3
{
	font-family: "europa", sans-serif;
	font-weight: 600;
}

#about h2
{
	margin-top: 130px;
	margin-bottom: 140px;
	font-size: 30px;
	line-height: 36px;
}

.highlight
{
	color: #FF6262;
}

span.line
{
	display: inline-block;
}

section, footer
{
	background-color: #E4E4E4
}

/*––––––––––––––––––––––––––––––
PROJECT TABS
–––––––––––––––––––––––––––––––*/

#work img#protected
{
	width: 8px;
	margin-right: 4px;
}

#work .row
{
	margin-bottom: 72px;	
}

#work a h2
{
	margin-top: 7px;
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 26px;
	color: #030303;
}

#work a svg
{
	margin-left: 8px;
	color: #E4E4E4;
	transform: translateX(-4px);
	transition: transform .1s ease-out, color .1s ease-out;				
}

#work a:hover svg
{
	color: #FF6262;
	transform: translateX(0px);
	transition: transform .1s ease-out, color .1s ease-out;		
}

#work a h3
{
	font-family: "proxima-nova", sans-serif;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #FF6262;
	text-decoration: none;		
}

img.thumb
{
	width: 100%;
}

a .tags
{
	font-size: 0;
}

a .tags span
{
	display: inline-block;
	color: #A0A0A0;
	font-size: 10px;
	border: 1px solid #A0A0A0;
	font-family: "proxima-nova", sans-serif;
	padding: 2px 9px 2px 9px;
	box-sizing: border-box;
	margin: 2px 4px 2px 0px;
	font-weight: 600;
	text-transform: uppercase;
}


/*––––––––––––––––––––––––––––––
CONTACT
–––––––––––––––––––––––––––––––*/

a#resume, a#email
{
	margin-top: 0px;
	display: block;
	font-family: "europa", sans-serif;
	font-weight: 600;
	font-size: 30px;
	padding: 12px 16px 13px 16px;
}

a#resume
{
	color: #FF6262;
	border: 2px solid #FF6262;
}

a#email
{
	margin-top: 10px;
	background-color: #FF6262;
	color: #FFFFFF;
}

a#resume svg, a#email svg
{
	margin-left: 12px;
	position: relative;
	top: 4px;
	width: 8px;
	transform: translateX(0px);	
	transition: transform .1s ease-out;		
}

a#resume:hover svg,
a#email:hover svg
{
	transform: translateX(8px);
	transition: transform .1s ease-out;
}

/*––––––––––––––––––––––––––––––
NAV
–––––––––––––––––––––––––––––––*/

nav
{
	position: fixed;
	width: 100%;
	padding-top: 32px;
	font-family: "europa", sans-serif;
	font-size: 16px;
	z-index: 1000;
}

nav a#wordmark
{
	position: relative;
	color: #030303;
	z-index: 100;
}

nav a#wordmark:hover,
nav a#wordmark:active,
nav a#wordmark:visited
{
	text-decoration: none;
}

nav .prenav
{
	position: relative;
	top: 8px;
	float: right;
	z-index: 100;	
}

/*––––––––––––––––––––––––––––––
MENU
–––––––––––––––––––––––––––––––*/

.menu
{
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
}

#menu-underlay
{
	background-color: rgba(228, 228, 228, .98);
	position: fixed;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;		
	z-index: -10;	
}

.menu a:nth-of-type(1)
{
	margin-top: 130px;
}

.menu a
{
	color: #FF6262;
	font-size: 72px;
}

.menu a svg
{
	margin-left: 12px;
	position: relative;
	top: 4px;
	width: 12px !important;
	transform: translateX(0px);	
	transition: transform .1s ease-out;		
}

.menu a:hover svg
{
	transform: translateX(8px);
	transition: transform .1s ease-out;
}

/*––––––––––––––––––––––––––––––
FOOTER
–––––––––––––––––––––––––––––––*/

footer
{
	color: #B7B7B7;
	position: relative;
	font-size: 14px;
	font-family: "proxima-nova", sans-serif;
}

footer #copyright
{
	margin-top: 72px;
	margin-bottom: 32px;
}

footer #copyright-text
{
	background-color: #E4E4E4;
	width: 180px;
	z-index: 100;
}

footer .rule
{
	position: absolute;
	top: 10px;
	right: 0px;
	display: inline-block;
	background-color: #B7B7B7;
	height: 2px;
	width: calc(100% - 72px);
	z-index: 0;
}

/*––––––––––––––––––––––––––––––
PRE-NAV ICON
–––––––––––––––––––––––––––––––*/

/* Hamburger Icon */
/* http://codepen.io/designcouch/pen/Atyop */

#nav-icon {
  width: 16px;
  height: 10px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #030303;
  border-radius: 0px;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 4px;
}

#nav-icon span:nth-child(4) {
  top: 8px;
}

#nav-icon.open span:nth-child(1) {
  top: 3px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 3px;
  width: 0%;
  left: 50%;
}

/*––––––––––––––––––––––––––––––
TO TOP
–––––––––––––––––––––––––––––––*/

section:last-of-type header {
  position: relative;
}

section:last-of-type header:hover {
  cursor: pointer;
}

.totop {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
}

/* Hamburger Icon */
/* http://codepen.io/designcouch/pen/Atyop */

#top-icon {
  width: 10px;
  height: 7px;
  position: relative;
  margin: 50px auto 10px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#top-icon span {
  display: block;
  position: absolute;
  height: 1px;
  background: #030303;
  border-radius: 0px;
  transition: .25s ease-in-out;
}

#top-icon span:nth-child(1) {
  top: 0px;
  right: 0px;
  width: 55%;
  transform: rotate(30deg);
}

#top-icon span:nth-child(2) {
  top: 0px;
  left: 0px;
  width: 55%;
  transform: rotate(330deg);
}

#top-icon.open span:nth-child(1) {
  top: 3px;
  width: 0%;
  left: 50%;
}

#top-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#top-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#top-icon.open span:nth-child(4) {
  top: 3px;
  width: 0%;
  left: 50%;
}

/*––––––––––––––––––––––––––––––
MEDIA QUERY
–––––––––––––––––––––––––––––––*/
@media (min-width: 768px)
{

	.menu a
	{
		color: #FF6262;
		font-size: 56px;
	}

	#work img
	{
		width: 100%;
	}

	#work a h2
	{
		margin-top: 7px;
		margin-bottom: 10px;
		font-size: 32px;
		line-height: 40px;
		color: #030303;
	}

	#work a h3
	{
		font-size: 19px;
	}

	#about h2
	{
		font-size: 56px;
		line-height: 60px;
	}

	a#resume,
	a#email
	{
		font-size: 48px;
	}

}