/*––––––––––––––––––––––––––––––
GLOBALS
–––––––––––––––––––––––––––––––*/
body
{
	background-color: #1D1D1B;
	font-family: "din-2014", sans-serif;
	color: #E7E6D9;
	font-family: "anonymous", monospace;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -1px;	
	text-rendering: optimizeLegibility !important;
	   -webkit-font-smoothing: antialiased !important;
	transition: all .1s ease-out;
		-webkit-transition: all .1s ease-out;	
	padding-top: 212px;		   
}

body a,
body a:link,
body a:hover,
body a:active,
body a:visited
{
	color: #BAB9AF;
	text-decoration: none;
}

a:hover,
#projects a:hover div
{
	color: #EABA92 !important;
}

h2
{
	color: #E7E6D9;	
	font-family: "minion-pro", serif;
	font-weight: 600;
	letter-spacing: -1px;
}

h2
{
	font-size: 36px;
	line-height: 36px;	
}

p, div
{
	color: #BAB9AF;
}


span.line
{
	dispay: inline-block;
}

#projects
{
	margin-top: 36px;
}

#projects a
{
	display: block;
	border: 1px solid #BAB9AF;
	padding: 8px;
}

footer
{
	margin-top: 102px;
	margin-bottom: 36px;
}

footer #contact a
{
	text-decoration: underline;
}


.vertical-container
{
	position: relative;
}

span.vertical
{
	position: absolute;
	font-size: 16px;
	left: -60px;
	top: -60px;
	display: block;
	text-transform: uppercase;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}

/*––––––––––––––––––––––––––––––
MEDIA QUERY
–––––––––––––––––––––––––––––––*/
@media (min-width: 768px)
{

	#projects a
	{
		display: block;
		border: none;
		padding: 0px;
	}

	h2
	{
		font-size: 42px;
		line-height: 42px;
	}


}