body {
	color: #FFF;
	background-color: #BBBBBB;
	overflow: hidden;
}

.processing {
	position: fixed;
	z-index:-1;
	border:0;
	margin: 0;
	padding: 0;
}

canvas {
	display:block; 
	margin:0; 
	padding:0; 
	outline:none;
	width: 1280px;
	height: 100vh;
}

.cast {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("../img/cast.png");
	background-size: cover;
}

.title {
	display: block;
	position: absolute;
	bottom: 18%;
	right: 22%;
}

.subtitle {
	display: block;
	text-align: left;
}

h1 {
	font-size: 32px;
	font-weight: 400;
	font-family: "adobe-garamond-pro",sans-serif;
	margin: 0px;
}

h2 {
	font-size: 12px;
	font-weight: 300;
	font-family: "myriad-pro",sans-serif;
	margin: 0px;
}