/*––––––––––––––––––––––––––––––
_NAV.SCSS

Spacing, styling, and colors for
navigation

–––––––––––––––––––––––––––––––*/


/*––––––––––––––––––––––––––––––
DISPLAY / DON'T DISPLAY
–––––––––––––––––––––––––––––––*/

#p001 nav {
	display: none;
}

#p001 nav .home a.wordmark {
	display: inline-block;
}

#p001 nav .home a.back,
#p001 nav .home .project-title,
#p001 nav .home .project-subtitle {
	// Don't display the 'back button' on homepage
	display: none;
}

/*––––––––––––––––––––––––––––––
TOOLBAR
–––––––––––––––––––––––––––––––*/

nav {
	// height: 56px; // this is the normal height without nav expanded
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: $pri-background-light;	
	@include boxshadow;
}

/*––––––––––––––––––––––––––––––
MAIN-NAV : WORDMARK / BACK
–––––––––––––––––––––––––––––––*/

// General formatting that applies
// to both wordmark and back arrow
nav .home {
	text-align: left;
	position: relative;
	margin-top: 12px;
}

// WORDMARK FORMATTING
nav a.wordmark {
  color: $pri-color-light;
  font-family: $display-font;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;  
  transition: all $link-time $link-easing;
}

nav a.wordmark:hover {
  color: $ter-color-light;
  text-decoration: none;
  transition: all $link-time $link-easing;  
}


/*––––––––––––––––––––––––––––––
MAIN-NAV : MAIN LINKS
–––––––––––––––––––––––––––––––*/

nav .main-nav ul {
	@include bigger;	
	text-align: right;
	position: relative;	
	margin-top: 15px;
	margin-bottom: 12px;
	padding-right: 0 !important;
}

nav .main-nav ul li {
	display: inline-block;
	margin-left: 24px;
}

nav .main-nav ul a,
nav .main-nav ul a:link,
nav .main-nav ul a:visited {
	display: block;
	transform: translate(0px, 0px);
	text-decoration: none;
	position: relative;
	color: $pri-color-light;
	transition: all $link-time $link-easing;	
}

nav .main-nav ul a:hover {
	// top: -1px;
	transform: translate(0px, -1px);	
	color: $pri-color-light;	
	text-decoration: none;
	z-index: 1;
	transition: all $link-time $link-easing;	
}

nav .main-nav ul a:before {
	@include linkline;
}

nav .main-nav ul a:hover:before {
	bottom: 1px;
	border-color: $link-dec-color-hover;
	transition: all $link-time $link-easing; 	
}

/*––––––––––––––––––––––––––––––
PROJECT-NAV
–––––––––––––––––––––––––––––––*/

nav .project-nav {
	display: none;
	position: relative;
}

nav .project-nav .collapse-project-nav {
	position: absolute;
	right: 0;
	z-index: 100;	
}
nav .project-nav .collapse-project-nav img {
	display: block;
	float: right;
	top: 12px;
	width: 16px;
	height: 16px;
	opacity: 100%;
	transform: rotate(0deg);
	transition: opacity $rollover-time $rollover-easing, transform 800ms $rollover-easing;
}

.open {
	transform: rotate(-90deg) !important;
	transition: opacity $rollover-time $rollover-easing, transform 800ms $rollover-easing;
}

nav .project-nav .collapse-project-nav img:hover {
	cursor: pointer;
	opacity: $opacity-hack;
	transition: opacity $rollover-time $rollover-easing, transform 800ms $rollover-easing;	
}

nav .project-nav li {
	margin-bottom: 12px;
}

nav .project-nav a {
	transform: translate(0px,0px);
	padding-left: 10px;
	padding-top: 2px;	
	margin-left: -10px;
	transition: all $rollover-time $rollover-easing;	
}

nav .project-nav a:hover {
	transform: translate(0px,-2px);
	background-color: $rollover-highlight;
	border-radius: $border-radius;
	transition: all $rollover-time $rollover-easing;
	@include boxshadow;
}

nav .project-nav a .label {
	margin-top: 14px;
}

nav .project-nav a .label .title {
	@include cap;
	color: $ter-color-light;
	@media (min-width: $break-md){
		font-size: 11px;
		line-height: 11px;
	}	
	margin-bottom: 2px;
}

nav .project-nav a .label .type {
	@include cap;
	color: $sec-color-light;
	@media (min-width: $break-md){
		font-size: 11px;
		line-height: 11px;
	}		
}

nav .project-nav a .thumbnail {
	//background-color: $test;
	position: relative;
	text-align: right;
	padding-right: 0px;
}

nav .project-nav a .thumbnail img {
	max-width: 100%;
}


/*––––––––––––––––––––––––––––––
PROJECT PAGE BEHAVIOR
–––––––––––––––––––––––––––––––*/

.project-page nav {

  display: none;

}

// Add spacing
.project-page section:nth-of-type(1) {
  
  position: relative;
  // padding-top: 56px;

}

.project-page nav .home a.wordmark {
  display: none;
}

.project-page nav .home a.back {
  position: relative;
  top: -4px;
}

.project-page nav .home a.back img {
  display: inline-block;  
  height: 18px;
  width: auto;
  transform: translate(0px, 0px);
  transition: all $link-time $link-easing;  
}

.project-page nav .home a.back:hover img {
  transform: translate(-4px, 0px);
  transition: all $link-time $link-easing;  
}


/*––––––––––––––––––––––––––––––
MAIN-NAV : TITLE / SUBTITLE
–––––––––––––––––––––––––––––––*/

nav .home .project-title,
nav .home .project-subtitle {
  display: inline-block;
  font-family: $display-font;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;  
  transition: all $link-time $link-easing;
}

nav .home .project-title {
  margin-left: 12px;
  color: $pri-color-light;
}

nav .home .project-subtitle {
  color: $ter-color-light;	
}

