/*––––––––––––––––––––––––––––––
_PRDNJY.SCSS

Specific styling for the
"Pride & Joy"
case study

.p006

–––––––––––––––––––––––––––––––*/

//Add padding between album names
#p006 #recordings ul li {
	padding: 20px 0 0;
}

//Put date on the next line
#p006 #recordings ul li span {
	display:block;
}

//Album cover size and padding
#p006 #recordings img {
	width: 100%;
	position: relative;
	top: -60px;
}

#p006 #recordings div img:nth-of-type(2) {
	padding: 20px 0 0;
}

#p006 #views aside {
	position: relative;
	top: 20vh;
}
