/*––––––––––––––––––––––––––––––
_FONTS.SCSS

Basic font styles to be used
consistently across the site.

Does not include color styles.

–––––––––––––––––––––––––––––––*/

/*––––––––––––––––––––––––––––––
FONT SMOOTHING
–––––––––––––––––––––––––––––––*/

body {
text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased !important;
}

/*––––––––––––––––––––––––––––––
HEADERS
–––––––––––––––––––––––––––––––*/

h1, h2 {
	font-family: $display-font;
	font-size: $display-sz;
	line-height: 28px;
	@media (min-width: $break-md) {
		font-size: $display-sz-md;
		line-height: 40px;
	}
}

h1 {
	font-weight: $semibold;
	letter-spacing: -0.15px;
}

h2 {
	font-weight: $regular;
}

h3 {
	font-weight: $semibold;
	font-size: $body-sz;
	line-height: 20px;
}

h3 {
	font-weight: $semibold;

}

/*––––––––––––––––––––––––––––––
BODY
–––––––––––––––––––––––––––––––*/

h4, h5 {
	font-weight: $light;
}

body, h5 {
	font-family: $body-font;
	font-weight: $light;
	font-size: $body-sz;
	line-height: 20px;
}

.statement p, blockquote, cite {
	font-size: $statement-sz;
	line-height: 24px;
	@media (min-width: $break-md) {
		font-size: $statement-sz-md;
		line-height: 28px;
	}
}

blockquote cite span {
	font-style: normal;
}
	
