/*––––––––––––––––––––––––––––––
_STYLING.SCSS

Basic styling for use across
the whole site

–––––––––––––––––––––––––––––––*/


/*––––––––––––––––––––––––––––––
ADDRESS
–––––––––––––––––––––––––––––––*/

// Reset address from standard
// italic styling
address {
	font-style: normal;
}


/*––––––––––––––––––––––––––––––
HANGLINE
–––––––––––––––––––––––––––––––*/

//Put a hangline on the bottom of
//every "header" row

// DARK VARIATION
.container header.row {
	border-bottom: solid $line-width $line-color;
}

.light .container header.row {
  border-bottom: solid $line-width $line-color-light; 
}


/*––––––––––––––––––––––––––––––
FIGURE CAPTIONS
–––––––––––––––––––––––––––––––*/

//Put a solid line on top of figure captions
aside h3:before {
  @include hangline;
}

/*––––––––––––––––––––––––––––––
FOOTER ELEMENTS
–––––––––––––––––––––––––––––––*/

section:last-of-type {
  position: relative;
}

section:last-of-type a#next,
section:last-of-type a#contact {
  color: $sec-color;
  border-top: solid $line-width $line-color;
  transition: color $rollover-time $rollover-easing;
}

section:last-of-type a#next:hover,
section:last-of-type a#contact:hover {
  color: $pri-color;
  transition: color $rollover-time $rollover-easing;
  text-decoration: none;
}

section:last-of-type a#next h3,
section:last-of-type a#contact h3
 {
  margin: 0;
}

section:last-of-type #next span {
  display: block;
}


/*––––––––––––––––––––––––––––––
MISC
–––––––––––––––––––––––––––––––*/

.italic {
  font-style: italic;
}

.right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}