/*––––––––––––––––––––––––––––––
_VARIABLES.SCSS

These are the key variables
to be used across the portfolio
site.

–––––––––––––––––––––––––––––––*/

/*––––––––––––––––––––––––––––––
MIXINS
–––––––––––––––––––––––––––––––*/
@mixin cap {
	display: block;
	font-family: $body-font;
	font-weight: $semibold;
	font-size: 14px; // change for mobile
	line-height: 15px; // change for mobile
	color: $sec-color-light;
	text-transform: uppercase;
	@media (min-width: $break-md){
		font-size: 14px;
		line-height: 15px;
	}
}

@mixin bigger {
	font-family: $body-font;
	font-weight: $light;
	color: $pri-color-light;
	font-size: 18px;
	line-height: 24px;
}

@mixin hangline {
	content : "";
	position: absolute;
	left: 0;
	top: $line-width;
	height: $line-width;
	width: 32px;
	border-bottom: solid $line-width $line-color-light;
}

@mixin linkline {
	content: "";
    border-bottom: 7px solid $link-dec-color;
    width: 100%;
    position: absolute;
	left: 0;
    bottom: 2px;
    z-index: -1;
	transition: all $link-time $link-easing; 
}

@mixin linkline-img {
	padding-bottom: 0;
	background-image: url("/img/underline.png?");
	background-position: bottom;
	background-repeat: repeat-x;
	transition: all $link-time $link-easing;
}

@mixin boxshadow {
	box-shadow: 0 2px 4px $shadow-color-light;	
}

/*––––––––––––––––––––––––––––––
FONT VARIABLES
–––––––––––––––––––––––––––––––*/

//Font Faces
$display-font: "adobe-garamond-pro", Garamond, sans-serif;
$body-font: "myriad-pro", sans-serif;

//Font Weights
$light: 300;
$regular: 400;
$semibold: 600;

//Font Sizes
$display-sz: 28px;
$display-sz-md: 42px;
$statement-sz: 16px;
$statement-sz-md: 18px;
$body-sz: 14px;
$body-sz-md: 14px;

//Media Breakpoints
//(Mobile First)
//Note: these were copied from Bootstrap
//See issue A-001
$break-sm: 639px;
$break-md: 992px;
$break-lg: 1024px;

/*––––––––––––––––––––––––––––––
COLOR VARIABLES
–––––––––––––––––––––––––––––––*/

// DARK VARIATION
$pri-background: #686868;
$sec-background: #FFFFFF;
// $pri-color: #F9F9F9;
$pri-color: rgba(255,255,255,.97);
// $sec-color: #B4B4B4;
$sec-color: rgba(255,255,255,.51);
$ter-color: #BD10E0; // test color
// $recess-color: #727272;
$recess-color: rgba(255,255,255,.07);

// LIGHT VARIATION
$pri-background-light: #E4E4E4;
// $pri-color-light: #444444;
$pri-color-light: rgba(0,0,0,.70);
$sec-color-light: rgba(0,0,0,.12);
$ter-color-light: rgba(0,0,0,.29);
$shadow-color-light: rgba(0,0,0,.04);

$link-dec-color: #FFF0CE;
// $link-dec-color-hover: #B3CEE7;
$link-dec-color-hover: #FFE098;

/*––––––––––––––––––––––––––––––
OTHER VARIABLES
–––––––––––––––––––––––––––––––*/

//This could be a cubic bezier if desired
$rollover-highlight: rgba(255,255,255,.10);
$rollover-time: 200ms;
$rollover-easing: cubic-bezier(0.215, 0.61, 0.355, 1);

$link-time: 200ms;
$link-easing: cubic-bezier(0.215, 0.61, 0.355, 1);

// Using Opacity to roughly equate the
// secondary gray color (for project li rollover)
$opacity-hack: .4;

$line-width: 2px;
$line-color: $recess-color;
$line-color-light: $sec-color-light;

$border-radius: 2px;

/*––––––––––––––––––––––––––––––
TEST VARIABLES
–––––––––––––––––––––––––––––––*/

// For identifying problems
$test: #BD10E0;
